@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,WONK@9..144,700,1&display=swap');
$cream: hsl(30, 38%, 92%);
$dark-cyan: hsl(158, 36%, 37%);
$dark-blue: hsl(212, 21%, 14%);
$dark-grayish: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background: $cream;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50rem;
    max-height: 50rem;
    align-self: center;
    justify-self: center;

    .main-content {
        display: flex;
        flex-direction: column;
        background: white;
        grid-column: 2;
        max-width: 100%;
        width: 1fr;
        max-height: 100%;
        height: 1fr;
        border-radius: 0 15px 15px 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .header-container {
        padding-top: 5%;

        .header {
            letter-spacing: 7px;
            opacity: 50%;
        }
    }


    .card__img {
        grid-column: 1;
        max-width: 1fr;
        max-height: 1fr;

        .main-img {
            width: 100%;
            height: 100%;
            border-radius: 15px 0 0 15px;
        }
    }

    .perfume-name-container {
        display: flex;

        .perfume-name {
            font-family: 'Fraunces', serif;
            font-size: 250%;
            font-weight: bold;
            line-height: 100%;
            margin: 0;
        }
    }

    .description-container {
        padding-top: 10%;
        opacity: 55%;
        line-height: 150%;
        font-size: 14px;
    }

    .prices-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .prices__discounted-price {
            font-family: 'Fraunces', serif;
            align-self: start;
            font-size: 3vw;
            text-align: center;
            //setting margin to auto allows 'text-align: center' to work for some reason.
            margin: auto 5% auto 0;
            color: $dark-cyan;
        }

        .prices__main-price {
            text-align: center;
            text-decoration: line-through;
            margin: auto auto auto 0;
            opacity: 50%;
            letter-spacing: 1%;
        }
    }

    .card__btn-container {
        width: 100%;
        height: 100%;
        max-height: 90px;
        display: flex;

        .btn_add-cart {
            display: inline-block;
            //'box-sizing: border-box' made it so the width of the btn is within its container
            box-sizing: border-box;
            width: 100%;
            height: 70%;
            max-height: 70px;
            min-height: 25px;
            font-family: 'Montserrat', sans-serif;
            font-size: 125%;
            background: $dark-cyan;
            color: $white;
            border-radius: 15px;
            border: none;
            transition: background ease .5s;

            &:hover {
                background: hsl(212, 21%, 14%);
                cursor: pointer;
            }
        }
    }


}


///// RESPONSIVE /////
@media (max-width: 415px) {

    .main-container {
        max-width: 90vw;
        max-height: 90vh;
        margin: auto;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 85vw;
        height: 85vh;

        .card__img {
            height: 40%;

            .main-img {
                max-width: 85vw;
                max-height: 100%;
                border-radius: 15px 15px 0 0;
            }
        }

        .main-content {
            border-radius: 0 0 15px 15px;
            height: 100%;
            gap: 1px;
        }

        .header-container {
            padding: 0;
            font-size: 3vw;
        }

        .description-container {
            padding-top: 5%;
        }

        .prices-container {
            .prices__discounted-price>p {
                margin: auto;
                font-size: 10vw;
            }
        }

        .card__btn-container {
            align-items: center;

            .btn_add-cart {
                font-size: 4vw;
            }
        }

    }
}